@import "reset.css";
body {
    background-color: floralwhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display :flex;
    flex-direction: column;
    align-items: center;
    padding-top : 50px;
    padding-bottom: 50px;

}

.canvas {
    width : 700px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.jsCurrent {
    margin-top : 30px;
    display: flex;
    align-items: center;

}

.jsCurrent .current {
    
    width:130px;
    background-color: white;
    text-align: center;
    border-radius: 13px;
    font-weight:800;
    font-size:16px;
    padding: 5px 0px;
    border:2px solid rgba(0,0,0,0.2);
}
.jsCurrent .current__Color{
    
    width:40px;
    height:40px;
    border-radius: 100%;
    margin-left: 20px;

}

.controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.controls .controls__btns {
    margin-bottom: 25px;
}
.controls__btns button {
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    text-align: center;
    border-radius: 13px;
    border:2px solid rgba(0,0,0,0.2);
    color:rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;

}

.controls__btns button:active {
    transform: scale(0.98);
}

.controls .controls__colors{
    display : flex;
    
}

.controls__colors .controls__color {
width:50px;
height: 50px;
box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
border-radius: 25px;
cursor: pointer;
}

.controls .controls__range {
    margin-bottom: 20px;
}

.controls__color {
    margin : 0 10px;
}